html, body{
    height: 100%;
    padding: 0;
    margin:0;
    font-size: small;
}

header {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
  }

.center {
    display: block;
    text-align: center;  
    padding-top: 109px;
  }

 .nav-right {

    padding-left: 30px;
    padding-right: 30px;


 }

 .nav-left {

    padding-left: 30px;
    padding-right: 30px;


 }
  .nav-bar {
    align-items: baseline;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding-top: 10px;
}

.apps{
    display: inline-flex;
    padding: 0px 10px 0px 0px; 
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
 
    opacity: .55;
    vertical-align: middle;
  }

  .sign-in{
    color: white;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
  }

  a:link{
      /*padding-top: 20px;*/
      text-decoration: none;
      color: black;
      opacity: .75;
  }

  a:hover{
      text-decoration: underline;
     
  }
  
  .searchBar {
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    width: 500px;
    height: 15px;
    padding: 20px;
    outline: none;
 
  }

  .mag-glass{
    background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 565px;
    top: 12px;
    opacity: 0.3;
    background-position: -250px -36px;
  }

  .btns{
      
      margin: 30px auto;
      justify-content: center;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      border-radius: 4px;
      height: 36px;
      color: #5F6368;
      min-width: 54px;
      text-align: center;
      margin: 11px 4px;
      padding: 0px ;
      line-height: 27px;
      min-width: 54px;
      padding: 0 15px 0 15px;
  }
  .sbmt-padding{
      padding-top: 29px;
  }
  .hdr-padding{
      padding-left: 15px;
  }

  .btm-padding{
    padding-left: 27px;
  }
  
  .btm-nav{
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      position:fixed;
      justify-content: space-between;
      line-height: 40px;
      font-size: 14px;
      border-top: 1px solid #e4e4e4;
      background: #f2f2f2;
  }